h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

  				#pageContent
					{
						font-family: arial, times new roman, mistral;
						font-size: 12px;
						margin-top: 12px;
						margin-left: 50px;
						width: 800px;
						height: 700px;
						
					}
					

					#header
					{
						
						border-bottom-width: thick;
						border-bottom-style: solid;
						border-bottom-color: Green;
						font-size: 20px;

					}
					#footer 
					{
											font-size: 10px;
											border-top-width: thick;
											border-top-style: solid;
											border-top-color: Green;
											clear:both;
											margin-top:5px;
					}
					#navi
					{
						font-size: 14px;
						color: grey;
						background-color: SkyBlue ; /* #87CEEB*/
						padding: 5px;
						margin-top: 4px;
					}
					
								h1
								{
									color: Blue;
								}
			
			
								#content
								{
									font-size: 12px;
									color: black;
									background-color: #EBF4EA;
									float: clear;
								}
								#sidebar
								{
									float: right;
									width: 160px;
									height: 90px;
									margin-top: 20px;
									margin-left: 10 px;
									margin-bottom: 10 px;
									padding: 5px;
									border-width: thick;
									border-style: solid;
									border-color: Green;
									border-top: 20 px solid Green;
								}
								p
								{
									font-size: 12px;
									color: black;
								}
								table
								{
									
								}/*
								p .initcap {
								font-size: 5px;
								background-color: black;
								color: white; 
								}*/
			

			
								img
								{
									float: left;
									margin-right:10px;
									margin-bottom: 10 px;
									border: medium;
									border-style: solid;
									border-color: yellow;
								}

								
								h2
								{
									color: Green;
									font-size: 12px;
								}
								
								p
								{
									color:black;
								}
								a
								{
									color: maroon;
								}
								div#intro  p.firstP:first-letter
									/* this a more complex compound rule and only applies if to first letter of a paragraph with class firstP applied
									and if this paragraph is a child of a div with the id = intro */
								{
									color: Maroon;
									font-size:36px;
								}
				
					
					
						
						

					
					
					
					
					
					
					
					
						
						
